.wrapper {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.navLink,
.Link {
  display: flex;
  align-self: flex-start;
  color: deeppink;
  font-size: 40px;
  transition: font-size 0.3s ease, color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Link:active,
.Link:hover,
.Link:focus {
  color: pink;
  font-size: 30px;
}
.navLink:hover,
.navLink:focus {
  color: pink;
}
.img {
  border-radius: 10px;
  position: sticky;
}
.imgWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns image and text to the left */
  gap: 20px;
}
.title {
  display: flex;
  align-items: flex-start;
  color: deeppink;
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 30px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.overview {
  color: pink;
  font-size: 30px;

  margin-bottom: 30px;
}
.addInfo {
  color: deeppink;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
}
.transition {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
