.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.imgMovieList {
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.imgMovieList:hover {
  transform: scale(0.95);
}
